<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912763698642-eaovj3h1q9jnsjf83tj4ut549aq9k5cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912763698642-eaovj3h1q9jnsjf83tj4ut549aq9k5cl</string>
	<key>API_KEY</key>
	<string>AIzaSyBjaIpaSLferglHxVv64r8yiQt5qpqfvCo</string>
	<key>GCM_SENDER_ID</key>
	<string>912763698642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ISSART.Face</string>
	<key>PROJECT_ID</key>
	<string>face-22990</string>
	<key>STORAGE_BUCKET</key>
	<string>face-22990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912763698642:ios:6c70b320b328376e3f5c0b</string>
</dict>
</plist>